/* 데스크탑 */
@media screen and (max-width: 1024px) {
  .html,
  body,
  #wrap {
    width: 100%;
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
  }
  #header,
  #gnb_wrap,
  #main_content,
  #footer {
    width: 100%;
    display: block;
  }
  .container,
  .inner_wrap {
    width: 100%;
    position: relative;
  }
  #lnb_wrap .bg {
    top: -5rem;
    z-index: 99;
    height: 1000vh;
  }
  /* gnb_wrap */
  #gnb_wrap .container {
    overflow: visible;
  }
  #gnb_wrap .pos_right {
    display: none;
  }
  #gnb_wrap .pos_left {
    height: 43px;
    overflow: visible;
  }
  #gnb_wrap .pos_left dd a.hide {
    display: block;
    line-height: 43px;
    padding: 0 2rem;
    box-sizing: border-box;
    position: relative;
    width: 32rem;
  }
  #gnb_wrap .pos_left dd > a.hide:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-bottom: 2px solid #10a791;
    border-left: 2px solid #10a791;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0%, -100%) rotate(-45deg);
  }
  #gnb_wrap .pos_left dd ul {
    position: absolute;
    top: 43px;
    z-index: 110;
    width: 32rem;
    display: none;
  }
  #gnb_wrap .pos_left dd ul.on {
    display: block;
  }
  #gnb_wrap .pos_left dl dd li {
    display: block;
    width: 100%;
    line-height: 44px;
    background: #10a791;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }

  #gnb_wrap .pos_left dl dd li span {
    color: #fff;
  }
  #gnb_wrap .pos_left dl dd li span.on {
    display: none;
  }

  #gnb_wrap .pos_left {
  }

  /* header */
  #header #nav .lnb_wrap {
    position: relative;
    height: 10rem;
  }
  #header #nav .lnb_wrap .left_side {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    width: 320px;
  }
  #nav .logo::before {
    display: none;
  }
  #header #nav .lnb_wrap .left_side {
    display: block;
    left: -320px;
  }
  #header #nav .lnb_wrap .left_side.show {
    left: 0;
    z-index: 9999;
  }
  #header #nav .lnb_wrap .left_side .logo {
    position: relative;
    line-height: 4rem;
    display: block;
    width: 100%;
    background: url(../images/logoimg/signature_kor01.png) no-repeat 50% 50%;
    background-size: 50% 50%;
    margin: 0;
  }
  #header #nav .lnb_wrap .left_side div.blind {
    display: flex;
    width: 320px;
    height: 4.8rem;
    position: relative;
  }
  #header #nav .lnb_wrap .left_side div.blind span {
    flex: 2;
    line-height: 4.8rem;
    font-size: 0.8em;
    text-align: center;
    padding: 0 1.2rem;
    background: #fff;
    color: #333;
  }
  #header #nav .lnb_wrap .left_side div.blind span:nth-child(3) {
    flex: 3;
  }
  #header #nav .lnb_wrap .left_side div.blind span.on {
    background: #10a791;
    color: #fff;
  }
  #header #nav .lnb_wrap .left_side .menu_depth1 {
    width: 320px;
  }
  #header #nav .lnb_wrap .left_side .menu_depth1 .depth1_li {
    display: block;
    position: relative;
    width: 320px;
    padding: 0;
    line-height: 24px;
    background: #454a50;
  }
  #nav .menu_depth1 .depth1_li .li-depth01 {
    line-height: 4.8rem;
    border-bottom: 1px solid #fff;
    display: block;
    text-align: left;
    color: #fff;
    font-weight: bold;
  }
  #nav .menu_depth1 .depth1_li .inner_menu {
    display: none;
  }
  #nav .right_side {
    margin-right: 2.4%;
  }

  /* main_content */
  .visual_wrap .container {
    height: 100%;
  }
  .visual_wrap .inner_wrap {
    display: block;
    padding: 2rem;
    box-sizing: border-box;
  }
  .visual_wrap .inner_wrap .main_search {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding-right: 0;
    margin-top: 4rem;
  }

  .visual_wrap .inner_wrap .main_weather {
    width: 40%;
  }
  .visual_wrap .inner_wrap .main_corona {
    width: auto;
  }

  .visual_wrap .inner_wrap .main_corona > .tit {
    float: left;
    font-size: 1.6em;
  }
  .visual_wrap .inner_wrap .main_corona button {
    float: left;
    color: #333;
    font-size: 1.4em;
  }
  .visual_wrap .main_search input[type="submit"] {
    right: 0;
  }
  .visual_wrap .main_corona table {
    display: none;
  }

  .visual_wrap .main_search .popular dl {
    font-size: 1.2em;
  }
  .visual_wrap .main_search .popular::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 4rem;
  }

  .visual_wrap .inner_wrap .vis_intro {
    display: block;
    width: 100%;
    position: relative;
  }
  .visual_wrap .vis_intro .main_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0 4rem 0;
  }
  .visual_wrap .vis_intro .slider {
    position: relative;
  }

  .visual_wrap .main_quick {
    position: relative;
    display: inline-block;
    width: 48%;
    left: 0;
    margin: 0;
    margin-right: 2%;
  }
  .visual_wrap .main_quick li a > img {
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
  }
  .visual_wrap .main_quick li a span {
    font-size: 1.2em;
  }

  .visual_wrap .mayor {
    display: inline-block;
    position: relative;
    width: 50%;
  }

  /* board_wrap */
  .board_wrap {
    padding: 5.2rem 0 2rem;
  }
  .board_wrap .tit {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .board_wrap .tit span:after {
    top: 0;
    left: 0;
    position: relative;
    display: inline-block;
    transform: translateY(-50%);
  }
  .board_wrap .mainboard {
    width: 100%;
    padding: 1rem 0;
    min-height: 40rem;
    display: block;
    margin-bottom: 1rem;
  }

  .tab_groups {
    overflow-y: visible;
    height: 100%;
    display: block;
  }
  .tab_groups .desc_bottom ul li {
    line-height: 2.4em;
  }
  .tab_groups ul li.new_btn {
    width: 15%;
  }
  .tab_groups ul li.new_btn.more {
    width: 10%;
  }
  .tab_groups label {
    font-size: 1em;
  }
  .tab_groups input:checked ~ label {
    position: relative;
    left: 0;
    bottom: 0;
  }
  .tab_groups .desc_top {
    padding: 4rem 1rem 2.4rem;
  }
  .tab_groups .desc_top .site_link {
    font-size: 1.2em;
  }
  .tab_groups .desc_bottom ul li {
    font-size: 1.2em;
  }

  .board_wrap .mainboard_quick {
    width: 40%;
    margin: 0;
    margin: 2% 0% 2% 3%;
  }
  .board_wrap .mainboard_quick ul {
    width: 100%;
    display: block;
  }
  .board_wrap .mainboard_quick ul li {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .board_wrap .mainboard_quick ul li a {
    top: 0;
    left: 0;
    transform: none;
  }

  .board_wrap .mainpop {
    width: 50%;
    min-width: 50rem;
    margin: 2% 0 2% 3%;
  }
  .mainboard_quick li img {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .mainboard_quick li span {
    top: 0;
    left: 0;
    transform: none;
    margin: 1rem auto 1.2rem;
  }
  .board_wrap .mainpop .mainpop_slider {
    width: 100%;
  }

  .board_wrap .quick_control {
    padding: 1px 1px;
    display: block;
    position: relative;
    width: 96%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .board_wrap .quick_control ul {
    display: block;
    position: absolute;
    top: 0;
  }
  .board_wrap .quick_control li {
    float: left;
    width: 13.5rem;
    height: 18rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .board_wrap .quick_control li a {
    background: none;
  }
  .board_wrap .quick_control .bx-wrapper {
    margin: 0;
    position: relative;
  }
  .board_wrap .quick_control .bx-viewport {
    height: 100%;
  }
  .board_wrap .quick_control .bx-controls {
    position: absolute;
    top: 35%;
    width: 100%;
  }
  .board_wrap .quick_control .bx-controls span {
    display: block;
    text-indent: -9999px;
  }
  .board_wrap .quick_control .bx-controls .bx-prev {
    float: left;
    width: 17px;
    height: 28px;
    background: url(../images/spr_main.png) no-repeat -101px -91px;
  }
  .board_wrap .quick_control .bx-controls .bx-next {
    float: right;
    width: 17px;
    height: 28px;
    background: url(../images/spr_main.png) no-repeat -161px -91px;
  }

  /* board_wrap02 */
  .board_wrap02 .container {
    background: none;
  }
  .board_wrap02 {
    display: block;
  }
  .board_wrap02 .inner_wrap {
    padding: 0;
  }
  .board_wrap02 .inner_wrap .mainboard {
    width: 100%;
    position: relative;
    display: block;
    padding: 0 0 10rem;
    background: url(../images/bak_broad.png) no-repeat 0 0;
    background-size: auto 80rem;
  }
  .board_wrap02 .inner_wrap .mainboard > .tit {
    display: block;
    margin: 4rem auto;
    text-align: center;
  }
  .board_wrap02 .inner_wrap .mainboard .box_group {
    display: block;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-25%);
  }
  .board_wrap02 .inner_wrap .mainboard .notice + .gallery {
    display: inline-block;
  }
  .board_wrap02 .inner_wrap .main_sns {
    position: relative;
    top: 0;
    left: 50%;
    width: 90%;
    display: block;
    transform: translateX(-50%);
  }

  .main_sns .bx-wrapper .bx-controls-direction {
    top: 48rem;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .main_sns
    .bx-wrapper
    .bx-controls.bx-has-controls-auto.bx-has-pager
    .bx-controls-auto {
    top: 48rem;
    left: 50%;
    transform: translate(-75%, 75%);
  }
  .main_sns .bx-wrapper .slideNumShow {
    left: 0;
  }
  .main_sns .bx-wrapper .bx-pager.bx-default-pager a {
    width: 20rem;
  }

  /* .citizen_wrap */
  .citizen_wrap .container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
  }
  .citizen_wrap .inner_wrap {
    max-width: 100%;
  }
  .citizen_wrap .inner_wrap .inner {
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .citizen_wrap .main_citizen {
    width: 100%;
    display: block;
    padding: 0.1rem 0;
  }
  .citizen_wrap .main_calender {
    margin: 0 auto;
    padding-top: 4rem;
    display: block;
    position: relative;
    float: none;
    width: 90%;
  }

  .body_calender .header_calendar {
    position: relative;
    top: 0;
    left: 100%;
    transform: translate(-100%, -250%);
    max-width: 70%;
  }

  .body_calender {
    padding: 2rem 4rem;
  }
  #calendar {
    width: 100%;
    padding-bottom: 1rem;
  }
  .body_calender #calendar tr {
    display: flex;
  }
  .body_calender td {
    flex: 1;
  }

  .list_calender {
    width: 100%;
    margin: 2rem auto 4.8rem;
  }
  .list_calender .date {
    width: 15%;
    font-size: 1.6em;
    text-align: center;
  }
  .list_calender .list {
    width: 75%;
    display: block;
    margin: 0;
  }
  .list_calender .list span.desc {
    float: right;
    position: relative;
  }

  .citizen_wrap .main_citizen .main_citizen_quick ul {
    justify-content: space-around;
  }
  .citizen_wrap .main_citizen .main_citizen_quick {
    width: 90%;
    margin: 0 auto;
    border-radius: 0;
    border-top-left-radius: 2.4rem;
    border-top-right-radius: 2.4rem;
    padding-top: 1rem;
  }

  .banner_wrap .container {
    height: 7rem;
  }
  .banner_wrap .inner_wrap .tit {
    width: 10%;
    min-width: 10rem;
  }
  .banner_wrap .inner_wrap .banner_slider {
    width: 90%;
  }
  .banner_wrap .inner_wrap .tit span {
    text-indent: -9999px;
  }
  .banner_wrap .bx-wrapper .bx-controls-direction {
    left: -5%;
  }
  .banner_wrap .bx-wrapper .bx-prev {
    margin-right: 3.2rem;
  }
} /* end--데스크탑 */

/* 타블렛 */
@media screen and (max-width: 992px) {
  .board_wrap .mainboard_quick {
    width: 96%;
    margin: 0 2%;
    height: 100%;
    padding: 1rem;
    position: relative;
  }
  .board_wrap .mainboard_quick ul li {
    width: 25%;
    position: relative;
    top: 0;
    display: block;
  }
  .board_wrap .mainpop {
    width: 100%;
    margin: 1.2rem 0;
  }
  .board_wrap .mainpop .mainpop_slider {
    width: 100%;
    border-radius: 0;
  }
  .mainpop_slider .slider {
    left: 50%;
    transform: translateX(-50%);
  }
  .mainpop_slider .bx-wrapper .bx-controls .bx-pager .bar {
    display: block;
    position: relative;
    left: 50%;
  }

  .board_wrap02 .inner_wrap .mainboard {
    width: 100%;
  }
  .board_wrap02 .inner_wrap .mainboard .tit {
    width: 100%;
  }

  .banner_wrap .inner_wrap .banner_slider {
    width: 80%;
  }
  .banner_wrap .bx-wrapper .bx-controls-direction {
    left: -10%;
  }
  .board_wrap02 .inner_wrap .mainboard .box_group {
    height: 100%;
    display: flex;
    justify-content: center;
    left: auto;
    transform: none;
    margin: 0 auto;
  }

  .header_calendar #tbCalendarYM{
    max-width: 400px;
  }
  .body_calender {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2%;
  }
  .body_calender tr{
    width: 100%;
  }

  #calendar tr:last-child, #calendar tr:nth-child(7){
    width: 100%;
  }
  .body_calender td {
    max-width: 12%;
    margin: 1% 2.6% 1% 0;
    float: left;
  }

  #footer .site_wrap .inner_wrap ul li.familysite_list {
    width: 100%;
  }
  #footer .site_wrap .familysite_list .list_2 {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
  }
  #footer .site_wrap .familysite_list .list_2 .familysite_list_depth2 {
    width: 100%;
    background: #fff;
  }

  #footer .site_wrap .familysite_list .list_2 ul.familysite_list_depth2 > li {
    border-bottom: 1px solid #ddd;
  }
  #footer
    .site_wrap
    .familysite_list
    .list_2
    ul.familysite_list_depth2
    > li
    span.tit {
    color: #333;
  }
  #footer .site_wrap .inner_wrap ul li.familysite_list > p.famList::after {
    left: 96%;
  }
  .footer_sns ul li {
    margin: auto 1rem;
  }
  .footer_sns ul li:last-child {
    margin-right: 3.2rem;
  }
} /* end--타블렛 */

/* 모바일 */
@media screen and (max-width: 768px) {
  .visual_wrap .inner_wrap .main_weather {
    width: 100%;
  }
  .visual_wrap .inner_wrap .main_corona {
    float: right;
    margin: 1.4rem auto;
  }
  .visual_wrap .main_quick {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
  }
  .visual_wrap .main_quick li {
    width: 25%;
  }
  .visual_wrap .mayor {
    width: 100%;
  }
  .visual_wrap .vis_intro .slider {
    width: 100%;
    height: 100%;
  }
  .visual_wrap .main_search .popular dl {
    width: 100%;
    font-size: 0.9em;
  }
  .visual_wrap .main_slider .bx-controls {
    left: 50%;
    right: 0;
    transform: translateX(-50%);
  }
  .visual_wrap .vis_intro .main_slider {
    margin-bottom: 0;
  }

  .tab_groups .desc_bottom .cate {
    display: none;
  }

  .body_calender .header_calendar{
    transform: translate(-80%,-250%);
  }
  .header_calendar #tbCalendarYM {
    max-width: 160px;
    width: auto;
    font-size: 0.6em;
  }
/*   #calendar tr:last-child, #calendar tr:nth-child(7){
    width: 100%;
  }
  .body_calender td {
    width: 12%;
    margin: 1% 2.6% 1% 0;
    float: left;
  } */

  .citizen_wrap .main_citizen .main_citizen_quick {
    width: 100%;
    border-radius: 0;
  }
  .citizen_wrap .main_citizen .main_citizen_quick li {
    padding: 3rem 2rem;
    margin: 0 auto;
  }

  .list_calender {
    height: 100%;
    padding: 1rem 1.3rem;
  }
  .list_calender .date {
    width: 100%;
    text-align: left;
    line-height: 1.6em;
    padding: 0;
  }
  .list_calender .date span,
  .list_calender .date strong {
    display: inline-block;
    font-size: 0.8em;
  }
  .list_calender .list {
    width: 100%;
  }
  .list_calender .list ul li {
    min-width: 100%;
    padding: 0.4rem 0;
  }
  .list_calender .list span.desc {
    width: 12rem;
  }

  .banner_wrap .inner_wrap .tit {
    width: 10rem;
  }
  .banner_wrap .inner_wrap .banner_slider {
    width: 80%;
    margin: 0 auto;
  }
  .banner_wrap .inner_wrap li.swiper {
    font-size: 0.8em;
  }
  .banner_wrap .bx-wrapper .bx-controls-direction {
    left: -5rem;
    top: 0;
    transform: translate(-50%, 100%);
  }

  #footer .info_wrap .inner_wrap {
    padding: 2rem;
  }
  #footer .info_wrap .copy_info {
    width: 100%;
  }
  #footer .info_wrap .copy_logo span {
    margin: 0 0 1.2rem 0;
  }
  #footer .contact {
    font-size: 0.8em;
    width: 100%;
  }

  #footer .site_wrap .inner_wrap ul li.familysite_list > p.famList::after {
    transform: rotate(-45deg);
  }

  .copy_info strong {
    margin: 0;
  }
  .footer_sns {
    width: 100%;
  }
  .footer_sns ul {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
  }
  .footer_sns ul.cf::after {
    display: none;
  }
} /* end--모바일 */

@media screen and (max-width: 612px) {
  .visual_wrap .main_quick {
    padding: 2rem 0;
  }
  .visual_wrap .main_quick li a span {
    font-size: 0.8em;
  }
  .visual_wrap .main_quick li {
    padding: 0;
  }
  .visual_wrap .mayor::after{
    display: none;
  }
  .board_wrap .mainboard {
    min-height: 50rem;
  }
  .board_wrap .mainboard_quick {
    width: 100%;
  }
  .board_wrap .mainboard_quick {
    margin: 0;
  }
  .board_wrap .mainboard_quick ul li {
    width: 50%;
  }

  .board_wrap .mainboard {
    min-height: 34rem;
    min-height: 48rem;
  }
  .tab_groups ul li.new_btn.more {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 24rem;
    border: 1px solid #333;
    color: #333;
    border-radius: 3.2rem;
  }
  .tab_groups ul li.new_btn.more a {
    background: none;
  }
  .tab_groups ul li.new_btn {
    width: 33.3%;
  }
  .tab_groups .desc_top {
    padding: 1rem 0.8rem;
    margin-top: 5.6rem;
  }
  .tab_groups .desc_top .site_link .content {
    height: 2.4rem;
    text-overflow: ellipsis;
  }
  .tab_groups .desc_bottom {
    margin-left: 1.2rem;
  }

  .mainboard_quick li img{
    transform-origin: center center;
    transform: scale(0.8);
  }

  .board_wrap .mainpop {
    padding: 1rem 0;
    height: 38rem;
  }
  .board_wrap .mainpop .mainpop_slider {
    padding: 2rem 0 4rem;
    position: relative;
    height: 100%;
  }
  .mainpop_slider .slider {
    left: 50%;
    top: 0;
    transform: none;
    transform: translateX(-50%);
  }
  .mainpop_slider .bx-wrapper .bx-controls {
    left: 50%;
    top: 60%;
    transform: translate(0, 0);
    transform: rotate(-90deg);
  }
  .mainpop_slider .bx-controls-auto-item {
    transform: rotate(-90deg);
  }
  .mainpop_slider .bx-wrapper .bx-controls-auto-item .bx-stop {
    transform: rotate(90deg) translate(25%, 25%);
  }
  .mainpop_slider .bx-wrapper .bx-controls-auto-item .bx-start {
    transform: rotate(90deg) translate(25%, 0%);
  }

  .mainpop_slider .currentNum,
  .mainpop_slider .allNum {
    transform: rotate(90deg);
  }

  .board_wrap02 .container .inner_wrap .mainboard {
    padding: 0;
    min-width: 100%;
  }
  .board_wrap02 .inner_wrap .mainboard .tit {
    display: block;
    width: 100%;
    position: relative;
  }
  .board_wrap02 .inner_wrap .mainboard .tit img {
    float: left;
    margin-left: 5%;
    display: block;
    margin-bottom: 2em;
    transform: scale(0.8);
  }
  .board_wrap02 .inner_wrap .mainboard .box_group {
    display: block;
    position: relative;
    padding-bottom: 2em;
  }
  .board_wrap02 .inner_wrap .mainboard .box {
    margin: 2rem auto;
    float: none;
    display: block;
    position: relative;
    width: 76%;
    padding: 1.6rem 1rem;
  }
  .board_wrap02 .inner_wrap .mainboard .notice + .gallery {
    display: block;
  }
  .board_wrap02 .inner_wrap .mainboard .notice em {
    background-position: center center;
    top: 0;
  }

  .board_wrap02 .inner_wrap .main_sns {
    padding: 2rem 3rem;
  }
  .main_sns
    .bx-wrapper
    .bx-controls.bx-has-controls-auto.bx-has-pager
    .bx-pager {
    display: none;
  }

  .citizen_wrap .main_citizen .visual {
    height: 100%;
  }
  .citizen_wrap .main_citizen .visual img {
    width: 100%;
  }
  .main_sns .slider .bx-controls {
    width: 100%;
  }
  .main_sns .bx-wrapper .slideNumShow {
    display: none;
  }
  .main_sns .bx-wrapper .bx-controls-direction {
    top: 42rem;
    left: 50%;
  }
  .main_sns
    .bx-wrapper
    .bx-controls.bx-has-controls-auto.bx-has-pager
    .bx-controls-auto {
    top: 42rem;
  }

  .header_calendar #tbCalendarYM {
    flex:10;
    width: auto;
  }
  .body_calender .header_calendar {
    transform: translate(-50%, 0);
    left: 50%;
    display: block;
    margin-bottom: 2rem;
  }

  #calendar .calendar_body {
    padding-top: 4rem;
    font-size: 0.68em;
  }
  #calendar tr:last-child,#calendar tr:nth-child(7){
    width: 100%;
  }
  #calendar tr:last-child td,#calendar tr:nth-child(7) td{
    margin: 1% 2.6% 1% 0;
    float: left;
    max-width: 12%;

  }

  #footer .info_wrap .inner_wrap {
    text-align: center;
  }
  #footer .info_wrap .inner_wrap .copy_logo {
    float: none;
    display: block;
    margin-bottom: 2rem;
  }
  #footer .info_wrap .inner_wrap .copy_logo span {
    margin: 0 auto;
  }

  #footer .policy {
    margin-bottom: 1.2rem;
  }
  #footer .copy_info li {
    line-height: 1.6em;
  }
  #footer .policy > li {
    text-align: center;
    width: 50%;
    line-height: 1.8em;
    font-size: 0.8em;
    margin: 0;
  }
  #footer .policy > li:last-child {
    width: 100%;
  }
  #footer .copy_info .policy li a {
    margin: 0;
  }
  #footer .copy_info .contact > li address {
    display: block;
  }
  #footer .copy_info .contact > li.eng address {
    display: inline;
  }
}
@media screen and (max-width: 480px) {
  .visual_wrap .main_quick ul {
    overflow: hidden;
  }
  .visual_wrap .main_quick li {
    width: 50%;
  }
  .visual_wrap .main_quick li > a {
    margin-bottom: 0.4rem;
  }
  .visual_wrap .inner_wrap .main_corona button {
    margin: 1rem auto;
  }
  .visual_wrap .mayor ul {
    z-index: 3;
  }
  .tab_groups .desc_bottom {
    margin: 0;
    padding: 0.4rem;
  }
  .tab_groups .desc_top .date_circle {
    margin: 0 1.2rem 0 0;
  }

  .tab_groups .desc_top .site_link {
    width: 60%;
    height: 100%;
  }
  .tab_groups .desc_top .site_link .tit {
    white-space: normal;
  }
  .tab_groups .desc_top .site_link .content {
    display: none;
  }
  .tab_groups .desc_bottom ul li {
    font-size: 1em;
  }

  .mainpop_slider .slider {
    left: 0;
    transform: none;
  }

  .board_wrap02 .inner_wrap .main_sns .nav ul {
    float: left;
  }
  .board_wrap02 .inner_wrap .main_sns .nav li {
    float: right;
  }
  .board_wrap02 .inner_wrap .main_sns .nav .gcvt {
    display: block;
    width: 100%;
    right: 0;
    position: relative;
    margin-bottom: 0.8rem;
  }
  .board_wrap02 .inner_wrap .main_sns .nav .gcvt > a {
    float: right;
  }
  .main_sns .slider .bx-wrapper .bx-viewport {
    padding-top: 2rem;
  }
  .main_sns .bx-wrapper .bx-controls-direction {
    top: 50rem;
  }
  .main_sns
    .bx-wrapper
    .bx-controls.bx-has-controls-auto.bx-has-pager
    .bx-controls-auto {
    top: 50rem;
  }
  .list_calender .list .subj{
    font-size: 0.9em;
  }
  .list_calender .list span.desc {
    display: none;
  }

  .citizen_wrap .main_citizen .main_citizen_quick li {
    padding: 1.2rem 0;
    width: 33.3%;
  }
  .citizen_wrap .main_citizen .main_citizen_quick li a {
    width: 100%;
  }
  .citizen_wrap .main_citizen .main_citizen_quick img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    transform: none;
  }
  .citizen_wrap .main_citizen .main_citizen_quick li a span {
    font-size: 0.8em;
    display: block;
    text-align: center;
  }
  .body_calender td{
    font-size: 0.6em;
    margin: 1% 1%;
  }




}
